page {
   height: 100%;
}

#home {
   height: 100%;

   .map {
      height: 100%;
      width: 100%;
   }
}

.notice {
   padding: 0 22upx 0 22upx;
   margin-top: 50upx;

   .box {
      background: #FEFEFE;
      border-radius: 24upx;
      padding: 22upx;
      display: flex;
      font-size: 24upx;
      font-weight: 400;
      color: #888888;

      .img {
         margin-right: 20upx;
         width: 32upx;
         height: 32upx;
      }

   }
}

.home-box {
   height: 560upx;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 20upx;

   .region {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25upx;

      .city {
         background-color: #fff;
         border-radius: 20upx;
         padding: 20upx 14upx;
         display: flex;
         align-items: center;
         font-size: 24upx;
         font-weight: 400;
         color: #0D1E40;

         .img {
            width: 23upx;
            height: 26upx;
            margin-right: 8upx;
         }

         .icon {
            width: 13upx;
            height: 9upx;
            margin-left: 22upx;
         }
      }

      .location {
         background: #FFFFFF;
         border-radius: 20upx;
         padding: 16upx;

         .icon {
            width: 35upx;
            height: 35upx;
         }
      }
   }

   .sfj-info {
      background: #FFFFFF;
      border-radius: 24upx;
      padding: 30upx 28upx;
      margin-bottom: 25upx;

      .tab-box {
         display: flex;

         .tab {
            margin-right: 42upx;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:last-child {
               margin-right: 0;
            }

            .title {
               font-size: 30upx;
               font-weight: 400;
               color: #4D5660;
               margin-bottom: 10upx;

               &.activ {
                  font-weight: 500;
                  color: #0D1E40;
               }
            }

            .icon {
               width: 46upx;
               height: 6upx;
            }
         }
      }

      .send {
         display: flex;
         padding: 30upx 0;

         .icon1 {
            width: 66upx;
            display: flex;
            align-items: center;
            justify-content: center;

            .img {
               width: 16upx;
               height: 16upx;
            }
         }

         .info-box {
            flex: 1;

            .address {
               font-size: 28upx;
               font-weight: 500;
               color: #0D1E40;
               margin-bottom: 14upx;
            }

            .info {
               font-size: 26upx;
               font-weight: 400;
               color: #9EA7B7;
            }
         }

         .icon2 {
            display: flex;
            align-items: center;
            justify-content: center;

            .img {
               height: 22upx;
               width: 10upx;
            }
         }
      }

      .receiv {
         display: flex;
         padding: 30upx 0;
         background: #F5F5F7;
         border-radius: 24upx;

         .icon1 {
            width: 66upx;
            display: flex;
            align-items: center;
            justify-content: center;

            .img {
               width: 16upx;
               height: 16upx;
            }
         }

         .info-box {
            flex: 1;
            display: flex;
            align-items: center;
            width: 222px;
            font-size: 28upx;
            font-weight: 400;
            color: #9EA7B7;
         }


      }

   }

   .distribution {
      background: #FFFFFF;
      border-radius: 24upx;
      padding: 30upx 28upx;

      .title {
         font-size: 26upx;
         font-weight: 400;
         color: #999999;

      }
   }
}

#home /deep/ {}